<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main wt-full min-h-screen bg-zinc-900">
        <div class="forms p-10 text-white">
            <form action="">
                <input class="block w-full rounded-mg outline-none px-5 py-3 bg-zinc-800" type="text" placeholder="title goes here">
                <textarea class="block w-full mt-2 rounded-mg outline-none px-5 py-3 resize-none bg-zinc-800" placeholder="write your task details here"></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit" value="Create Tasks">
            </form>
        </div>
        <div class="tasks flex gap-3 flex-wrap p-10">
            <div class="task rounded-md w-72 hidden px-3 py-4 bg-zinc-800">
                <h1 class=" text-white text-2xl tracking-tighter">some task goes here.</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read It.</a>
            </div>

            <div class="task rounded-md w-72 hidden px-3 py-4 bg-zinc-800">
                <h1 class=" text-white text-2xl tracking-tighter">some task goes here.</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read It.</a>
            </div>

            <div class="task rounded-md w-72 hidden px-3 py-4 bg-zinc-800">
                <h1 class=" text-white text-2xl tracking-tighter">some task goes here.</h1>
                <a class="text-blue-500 inline-block mt-3" href="">Read It.</a>
            </div>
            <h1 class="text-white">No Tasks Yet!</h1>
        </div>
        
    </div>
</body>
</html>